body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #ECEDF6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    line-height: 1.2;
}

.container{
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.header{
    position: absolute;
    top: 60px;
    background-color: #6F88DD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 60%;
    padding: 20px 50px;
    border-radius: 50px;
}

.btn{
    cursor: pointer;
    background-color: #5D79D6;
    padding: 10px;
    border-radius: 50%;
}

.btn:hover{
    background-color: #fff;
    color: #5D79D6;
}

img{
    border-radius: 50%;
}

.wrapper{
    background-color: #fff;
    width: 30%;
    position: relative;
    top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 10px;
}

.wrapper > .par{
    width: clamp(0px, 100%, 250px);
    text-align: center;
    margin-top: 30px;
    line-height: 1.4;
}

.close{
    position: absolute;
    left: 86%;
    top: 20px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close:hover{
    color: #fff;
    background-color: #ddd;
}

.wrapper > img{
    margin-top: 50px;
    width: 60px;
    background-color: #FFF3EC;
    opacity: 0.7;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

button{
    border: 1px solid #3d5dc8;
    padding: 14px 14px;
    background-color: #fff;
    border-radius: 20px;
    color: #4355B7;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #4355B7;
    color: #fff;
}