body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* line-height: 1.2; */
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    width: 100%;
}

.left{
    position: absolute;
    z-index: -1;
    background-color: #161C3F;
    width: 30%;
    height: 100vh;
    left: 0%;
}

.middle{
    position: absolute;
    z-index: -1;
    background-color: #1F264F;
    width: 40%;
    height: 100vh;
    left: 30%;
}

.right{
    position: absolute;
    z-index: -1;
    background-color: #161C3F;
    width: 30%;
    height: 100vh;
    left: 70%; 
}

.select{
    position: absolute;
    background-color: #fff;
    width: 300px;
    height: 220px;
    left: 16%;
    top: 16vh;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
    padding: 20px 0px 20px 20px;
    display: flex;
    flex-direction: column;
}

.select > h3{
    margin-bottom: 14px;
}

.first{
    background-color: #ddd;
    margin-right: 24px;
    padding: 8px 12px;
    margin-bottom: 20px;
}

.btn1{
    border: none;
    color: #fff;
    background: linear-gradient(to right, #FF7B56, #FC943C);;
}

.sec{
    margin-right: 24px;
    padding: 8px 12px;
}

.sec > div > button{
    border-style: solid;
    color: #000;
    background-color: #fff;
    border-color: linear-gradient(to right, #FF7B56, #FC943C);
}

.opt > div:first-child{
    font-size: 16px;
    flex: 3;
}

.opt > div:first-child > h4{
    margin: 0px;
}

.opt > div:first-child > p, .opt > div:nth-child(2) > p{
    margin: 6px 0px 12px 0px;
}

.opt > div:nth-child(2){
    flex: 1;
}

.opt{
    display: flex;
    align-items: center;
    gap: 10px;
}

.opt > div > button{
    padding: 10px 16px;
    border-radius: 10px;
}

.main{
    position: absolute;
    background-color: #fff;
    height: 70vh;
    width: 380px;
    left: 50%;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
}

.main > progress{
    margin-top: 50px;
}

.main > h3{
    margin-bottom: 40px;
}

.elts > div{
    padding-bottom: 16px;
}

.main > .bottom{
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom > p{
    width: 380px;
    display: flex;
    justify-content: center;
    border-top: 1px solid red;
    padding: 10px 0px 0px 0px;
}

.bottom > button{
    border: none;
    width: 380px;
    color: #fff;
    font-size: 16px;
    height: 80px;
    padding: 6px 16px;
    background: linear-gradient(to right, #FF7B56, #FC943C);
}

.nature{
    position: absolute;
    background-color: #fff;
    width: 180px; 
    height: 200px;
    top: 60vh;
    left: 40%;
}