body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: rgb(226, 251, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    line-height: 1.2;
}

.container{
    background-color: #fff;
    padding: 80px 30px;
    margin: 20px 0px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 32px;
    margin: 0 auto 20px;
    text-align: center;
    width: clamp(0px, 100%, 280px);
}

.ava{
    font-size: 25px;
    margin: 0 0 10px 0;
}

.container > p:nth-child(2){
    font-size: 17px;
    width: clamp(0px, 100%, 450px);
    text-align: center;
}

.container > p:nth-child(3){
    font-size: 17px;
    width: clamp(0px, 100%, 560px);
    text-align: center;
}

img{
    width: 80px;
}

.positions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 20px;
}

.position{
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    cursor: pointer;
    padding: 10px 0;
}