body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(11, 99, 109);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    line-height: 1.2;
}

img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container{
    width: 80%;
    display: flex;
    position: relative;
    align-items: center;
    max-height: 100%;
}

.wrapper{
    background-color: #fff;
    position: absolute;
    bottom: -38vh;
    left: 20%;
    height: 70vh;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    padding: 20px 50px;
    padding-right: 90px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.wrapper > h4{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 0;
}

.wrapper > p{
    margin-top: 8px;
    font-size: 80%;
}

.wrapper > .legend{
    border: 1px solid #ddd;
    padding: 20px 20px;
    margin-bottom: 20px;
}

.legend > p{
    font-weight: 600;
    margin-bottom: 20px;
}

.elt{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
}

input[type = "radio"]{
    transform: scale(1.5); 
    margin-right: 10px;
}

.small{
    font-size: 14px;
    color: #a3a0a0;
}

.license{
    font-size: 10px;
}

.button1{
    margin-bottom: 20px;
} 

.btn{
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    color:  #fff;
    background-color: rgb(243, 138, 99);
    cursor: pointer;
    border-radius: 4px;
}

.button2{
    border: 1px solid #ddd;
    color: rgb(243, 138, 99);
    background-color: #fff;   
}


.profile{
    background-color: #fff;
    position: absolute;
    width: 20%;
    left: 48%;
    height: 32vh;
    bottom: 50px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    padding: 30px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile > h4{
    margin: 10px;
} 

.profile > p {
    margin-top: 0px;
}

.impression{
    background-color: #fff;
    position: absolute;
    /* width: 30%; */
    border-radius: 8px;
    margin-top: 30px;
    left: 58%;
    /* height: 10vh; */
    top: 30%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 40px 20px;
    gap: 20px;
}

.impression > div{
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 28px;
    padding: 2px 10px;
}