body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #17103C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    line-height: 1.2;
}

ul{
    list-style: none;
    margin: 0px;
    padding-inline-start: 0px;
}

.container{
    background-color: #D6EBE8;
    border-radius: 12px;
    margin: 50px 0;
    padding: 50px 50px;
    width: 60%;
    display: grid;
    gap: 50px;
    grid-template-areas: 
    "join stats whyus"
    "enrollement dates whyus";
}

.join{
    grid-area: join;
}

.join > h3{
    margin-bottom: 0px;
}

.join > p{
    margin-top: 0px;
}

.join > h2{
    margin: 14px 0px;
    font-size: 2rem;
}

.stats{
    grid-area: stats;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.stats > h2{
    margin: 0px 0px;
    font-size: 2rem;
}

.whyus{
    grid-area: whyus;
    background-color: #DDEBE7;
    border: 1px solid #fff;
    padding: 20px;
}

.enrollement{
    grid-area: enrollement;
}

.enrollement > h3{
    margin-bottom: 16px;
}

.enrollement > ul >li{
    margin-bottom: 10px;
    letter-spacing: 2px;
    padding: 4px;
    cursor: pointer;
}

.enrollement > ul >li:hover{
    background-color: #C3E1DB;
}

.dates{
    grid-area: dates;
}