body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #EE4A56;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-sizing: border-box;
    line-height: 1.2;
}

.header{
    margin-top: 60px;
    width: 300px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
    border-radius: 14px;
}

.header > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.header > div > p{
    margin-top: 0;
    margin-bottom: 20px;
}

.header > div > span{
    font-size: 34px;
}

.middle{
    background-color: #EE4A56;
    padding: 10px;
    color: #fff;
    position: relative;
    bottom: 8px;
    border-radius: 50%;
}

.frequent{
    margin-top: 20px;
    width: 300px;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 14px;
}

.frequent > div:first-child{
    display: flex;
    justify-content: space-between;
}

.frequent > div:first-child > span:first-child{
    font-weight: bold;
}

.prof{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 6px solid #EE4A56;
    border-radius: 50%;
}

.profiles{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.desc{
    margin-top: 20px;
    width: 300px;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 14px;
    text-align: center;
}

.footer{
    color: #EE4A56;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    margin-bottom: 10px;
}

.footer > span{
    font-size: 30px;
}

.footer > .arrow{
    border: 1px solid #878686;
    padding: 0px 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: ease all 0.5s;
}

.footer > .arrow:hover{
    color: #fff;
    background-color: #EE4A56;
    border: 1px solid #EE4A56;
}

.wrapper{
    margin-top: 20px;
    width: 300px;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
}

.item1{
    width: 120px;
    height: 140px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border: 1px solid #878686;
    border-radius: 8px;
    padding-top: 6px;
}

.btn{
    padding: 6px 16px;
    margin-bottom: 10px;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background-color: #EE4A56;
    border-radius: 20px;
    border: none;
    transition: ease all 0.5s;
}