body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #F1F4FF;
    color: #18215D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    line-height: 1.2;
}

.container{
    width: 340px;
    height: 420px;
    border-radius: 24px;
    padding: 20px 0px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: 1px solid #C2C1D5;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.header > span:first-child{
    font-size: 40px;
}

.header > span:nth-child(2){
    font-weight: bold;
    font-size: 17px;
}

.prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 4px;
    margin-bottom: 50px;
}

.price > span:nth-child(2){
    font-size: 26px;
    padding-left: 4px;
    font-weight: bolder;
}

.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 6px;
}

.buttons > span{
    border-radius: 12px;
    padding: 6px 12px;
    border: 1px solid #C2C1D5;
    cursor: pointer;
}

.buttons > .selected{
    background-color: #18215D;
    color: #fff;
}

button{
    width: 60%;
    border: none;
    color: #fff;
    background-color: #18215D;
    font-size: 17px;
    border-radius: 12px;
    cursor: pointer;
    padding: 12px 0px; 
}