body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #F6F4F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    line-height: 1.2;
}

.customize, .other{
    background-color: #fff;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.left{
    flex: 0.6;
}

.right{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.settings{
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.settings > span:first-child{
    box-shadow: 0 24.8832px 20.736px hsla(224, 44%, 10%, .1);
    background-color: #fff;
    width: 30px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 30px;
}

.settings > div{
    box-shadow: 0 24.8832px 20.736px hsla(224, 44%, 10%, .1);
    border-radius: 6px;
    width: 160px;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
}

.settings > div > span{
    display: flex;
    padding: 12px 0px 12px 16px;
    transition: all ease 0.5s;
    cursor: pointer;
}

.settings > div > span:hover{
    background-color: #ddd;
}

.customize{
    box-shadow: 0 24.8832px 20.736px hsla(224, 44%, 10%, .1);
    border-radius: 6px;
    position: relative;
    bottom: 20px;
    width: 340px;
    height: 300px;
    padding: 30px 0px 0px 30px;
}

.customize > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.customize > div > div{
    display: flex;
    align-items: center;
    gap: 6px;
}

.customize > div > div > span:first-child{
    color:#AFAFAF;
    cursor: pointer;
}

.customize > div > div:nth-child(2) > span:first-child{
    color: #B45B2F;
}

.btns > button{
    margin-top: 20px;
    width: 100px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

.btns > button:nth-child(2){
    background-color: #F0AE2E;
    color: #4D1E08;
    margin-left: 10px;
}

.btns > button:first-child{
    background-color: #F6F4F0;
    color: #383733; 
}

.other{
    box-shadow: 0 24.8832px 20.736px hsla(224, 44%, 10%, .1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0px 30px 20px;
    position: relative;
    top: 10px;
    left: 40px;
}

.other > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.other > div > div{
    display: flex;
    align-items: center;
    gap: 6px;
}

.other > div > div > span:first-child{
    cursor: pointer;
}

.other > div > div:nth-child(2) > span:first-child{
    color: #4D1E08;
}