body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 1.2;
}

.container{
    display: flex;
    min-height: 100vh;
}

ul{
    margin: 0;
    list-style: none;
}

.nav{
    background-color: #243546;
    /* flex: 0.5; */
    width: 80px;
    display: flex;
    justify-content: flex-end;
}

.nav > ul{
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding-inline-start: 0px;
}

.nav > ul >li{
    transform: rotate(270deg);
    height: 85px;
    width: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.nav > ul > li > a{
    text-decoration: none;
    color: #7C8895;
    font-size: 18px;
    padding-top: 20px;
    transition: ease-in-out 0.5s;
    border-top: 3px solid #243546;
    margin-top: 4px;
}

.nav > ul > li > a:hover{
    color: #fff;
    border-top: 3px solid #fff;
}

.content{
    background-color: #ddd;
    flex: 10;
}