body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, white 50%, #FF8B8B 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    line-height: 1.2;
    position: relative;
}

.wrapper{
    display: flex;
    gap: 40px;
}

.box{
    width: 240px;
    height: 260px;
    border: 2px solid #D0D0D1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #fff;
    transition: ease 0.5s all;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2); 
}

.box:hover{
    border: 2px solid #E38586;
}

.box > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.box > span{
    font-size: 20px;
    font-weight: 600;
}

.box > button{
    border: 1px solid #D0D0D1;
    color: #D0D0D1;
    background-color: #fff;
    padding: 8px 22px;
    margin-top: 26px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: ease 0.5s all;
}

.box > button:hover{
    background-color: #5a7af0;
    color: #fff;
}

.desc{
    position: absolute;
    bottom: 76vh;
    left: 20%;
}

.desc > p{
    width: clamp(0%, 100%, 270px);
    margin: 0px;
}

.desc > h2{
    margin-bottom: 10px;
}

.btn{
    border: 2px solid #D0D0D1;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 30px;
    position: absolute;
    bottom: 72vh;
    right: 19%;
    color: #E38586;
    cursor: pointer;
    transition: ease 0.5s all;
}

.btn:hover{
    background-color: #E38586;
    color: #fff;
    border: none;
}

.contbtn{
    position: absolute;
    bottom: 20vh;
    padding: 6px 10px;
    right: 19%;
    border: 1px solid #D0D0D1;
    display: flex;
    justify-content: center;
    font-size: 16px;
    gap: 10px;
    cursor: pointer;
    align-items: center;
    color: #fff;
    transition: ease 0.5s all;
}

.contbtn:hover{
    background-color: #5a7af0;
    color: #fff;
    border-color: #5a7af0;
}

.line{
    position: absolute;
    background-color: #D0D0D1;
    height: 36px;
    right: 37px;
    width: 2px;
}