body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #E9DDFC, #FCF0E6);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    position: relative;
    width: 260px;
    height: 300px;
    border-radius: 14px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
}

.wrapper > img{
    /* top: 20px; */
    width: 88px;
    height: 88px;
    border-radius: 18px;
}

.desc{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: clamp(0px, 100%, 200px);
}

.desc > span:first-child{
    font-weight: bold;
    font-size: 18px;
}

.desc > span:nth-child(2){
    line-height: 1.3;
}