*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(19, 16, 47);
}

h3{
    margin: 14px 0;
}

.container{
    min-height: 100vh;
    margin-bottom: 20px;
}

.wrapper{
    background-color: #eae7e7;
    width: 36%;
    min-height: 90vh;
    margin: auto;
    display: flex;
    border-radius: 10px;
    padding: 20px;
}

.wrapper > form{
    width: 80%;
    font-size: 16px;
}

input[type="text"]{
    min-width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 6px 4px; 
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.buttons{
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.buttons > button{
    padding: 10px 28px;
    cursor: pointer;
    border: 1px solid rgb(19, 16, 47);
    background-color: #e6e1e1;
    font-size: 16px; 
}

.buttons > button:hover{
    color: #fff;
    background-color: rgb(73, 131, 143);
}

.neighbors{
    display: flex;
    gap: 20px;
}

.btn{
    margin-top: 10px;
    padding: 10px 14px;
    cursor: pointer;
    border: 1px solid rgb(19, 16, 47);
    background-color: rgb(68, 60, 137);
    font-size: 14px; 
    color: #fff;
    border-radius: 14px;
}