body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.2;
    min-height: 100vh;
    background-color: #FAFAFC;
}

.container{
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-areas: "cont loc"
                         "cont profile";
    justify-content: center;
    align-items: flex-start;
    gap: 50px 180px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    grid-area: cont;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
    padding: 22px;
}

.main > img{
    width: 300px;
    height: 280px;
}

.main > div{
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 16px;
}

.main > div > div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.main > div > img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.main > h3{
    margin-bottom: 10px;
}

.main > p{
    margin-top: 10px;
    margin-bottom: 0px;
}

.location{
    grid-area: loc;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
    width: 380px;
    height: 300px;
    padding: 40px;
}

.location > .header{
    display: flex;
    align-items: center;justify-content: space-between;
}

.location > .header > .close{
    background-color: #FAFAFC;
    border-radius: 50%;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.location > .locs{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* gap: 40px 10px; */
    gap: 16px 20px;
}

.locs > span{
    background-color: #FAFAFC;
    padding: 14px ;
    cursor: pointer;
}

.profile{
    position: relative;
    right: 80px;
    padding: 20px;
    grid-area: profile;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
    /* height: 200px; */
    display: flex;
    gap: 20px;
}

.profile > img{
    width: 140px;
    height: 140px;
}

.profile > div > h4{
    margin-bottom: 4px;
}

.profile > div > .email{
    margin-top: 14px;
}

.profile > div > .email, .profile > div > .phone{
    height: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile > div > div > p{
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 1030px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile{
        right: 0px;
    }
}