body{
    background: linear-gradient(to right, #F7F0FB, #E4E3F3);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul > li{
    list-style: none;
}

ul{
    padding-inline-start: 30px;
}

.wrapper{
    position: relative;
    display: flex;
    gap: 30px;
}

.wrapper > div{
    background-color: #fff;
    width: 270px;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0px;
    /* justify-content: space-around; */
}

.header{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 30px;
}

.header > span:first-child{
    font-size: 18px;
    font-weight: 550;
}

.free > .header > span:first-child{
    color: #9B8DE0;
    text-transform: capitalize;
}

.free > .header > span:nth-child(2){
    text-transform: capitalize;
}

.premium > .header > span:first-child{
    color: #E17CBC;
}

.list > ul > li{
    display: flex;
    align-items: center;
    gap: 6px;
}

.list > ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.tick{
    /* position: absolute; */
    background-color: #F4FBED;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: #88AC6E;
    justify-content: center;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.btn > button{
    width: 76%;
    padding: 14px 30px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: #fff;
    font-weight: 550;
}

.free > .btn > button{
    border: 1px solid #9B8DE0;
    color: #9B8DE0;
}

.premium > .btn > button{
    border: 1px solid #E17CBC;
    color: #fff;
    background-color: #E17CBC;
}