body{
    background: linear-gradient(to right, #F7F0FB, #E4E3F3);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul > li{
    list-style: none;
}

ul{
    padding-inline-start: 30px;
}

.wrapper{
    position: relative;
    display: flex;
    gap: 30px;
}

.wrapper > div{
    background-color: #fff;
    width: 240px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 30px;
}

.header > span:first-child{
    font-size: 18px;
    font-weight: 550;
}

.free > .header > span:first-child{
    color: #9B8DE0;
    text-transform: capitalize;
}

.free > .header > span:nth-child(2){
    text-transform: capitalize;
}

.premium > .header > span:first-child{
    color: #E17CBC;
}