body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #F3F3FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    line-height: 1.2;
}

.container{
    position: relative;
}

.back{
    position: absolute;
    background-color: #000;
    width: 420px;
    right: -40px;
    top: -30px;
    border-radius: 30px;
    height: 460px;
    z-index: -1;
    background: linear-gradient(to right, #b8f1f5, #dfeefa);
}

.wrapper{
    background-color: #fff;
    border-radius: 16px;
    width: 260px;
    height: 450px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 40px 20px 40px;
}

.wrapper > h3:first-child{
    font-size: 26px;
    margin-bottom: 0px;
}

.wrapper > p:nth-child(2){
    margin-top: 4px;
}

.buybtn{
    display: flex;
    justify-content: center;
}

.buybtn > button{
    width: 100%;
    padding: 14px 30px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    background: linear-gradient(to right, #70EC96, #76F5EC);
}

.shipping{
    font-size: 13px;
}

.prices{
    display: flex;
    flex-direction: column;
}

.prices > p{
    margin: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 550;
}

.tick{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E9EAFE;
}