body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    line-height: 1.2;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 86%;
}

.header, .header2{
    position: relative;
    width: 100%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    color: #fff;
    background: linear-gradient(to right, #A955F6, #FB7186);
}

.logo{
    padding-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

.list{
    padding-right: 20px;
}

.list > ul > li{
    list-style: none;
    display: inline;
    font-size: 18px;
}

.list > ul{
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.daysleft{
    position: absolute;
    top: 0px;
    left: 42%;
    font-size: 20px;
    width: 40px;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 6px;
    border-top: none;
    z-index: 1;
    padding: 10px;
    padding-bottom: 16px;
    color: #fff;
    cursor: pointer;
}

.wrapper{
    background: linear-gradient(to right, #A955F6, #FB7186);
    width: 100%;
}

.content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
}

.title{
    font-weight: 200;
    color: #f5f4f4;
}

.contact{
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}

.btn{
    border: 1px solid #fff;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

input[type="email"]{
    border: none;
    background-color: rgb(0 0 0 / 0.15);
    padding: 8px 12px;
    color: #fff;
    font-size: 16px;
    outline: none;
}



input[type="email"]::placeholder {
    color: #fff;
}