body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: rgb(180, 82, 195);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    line-height: 1.2;
}

img{
    width: 90px;
    height: 96px;
    border-radius: 50%;
    border: 8px solid #ddd;

}

.container{
    background: linear-gradient(to right, white, #efc8b0);
    /* padding: 80px 30px; */
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{
    background-color: #fff;
    height: 80vh;
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 12px;
}

.invite{
    color: #626161;
    margin-bottom: 0px;
}

.channel{
    margin: 14px;
}

.users{
    background-color: #e8e4e4;
    padding: 8px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    gap: 10px;
    margin-bottom: 26px;
}

.username{
    font-size: 16px;
}

input[type="text"]{
    width: 80%;
    margin: 6px 0;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px;
}

input[type="text"]:focus{
    outline: none;
}

input[type="checkbox"] {
    display: none;
}
  
input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    top: 8px;
}
  
input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 2px solid #7a7a7a;
    background-color: #fff;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before {
    content: "\2713";
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #7a7a7a;
    background-color: #fff;
}

span u {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(107, 47, 117);
}

.terms{
    margin-top: 10px;
}

.checkbox{
    top: 20px;
    display: flex;
    gap: 20px;
}