body{
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    position: relative;
    background-image: url('promo_2.png');
    background-size: cover;
    background-position: center;
    background-position: center 10%;
    padding: 20px;
    color: white;
    min-height: 40vh;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.5);
}

.container h3,
.container p,
.container input[type="email"],
.container button {
    position: relative;
    z-index: 1;
}

