body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #F6F6F6;
    box-sizing: border-box;
    line-height: 1.2;
    color: #000;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.profile{
    position: relative;
    width: 260px;
    height: 100px; 
    border-radius: 14px;
    padding: 0px 0px 20px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1); 
}

.profile > img{
    position: absolute;
    bottom: 70px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile > span:nth-child(2){
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 6px;
}

.profile > span:nth-child(3){
    font-size: 14px;
}

.desc{
    display: flex;
    gap: 40px;
}

.permission{
    background-color: #fff;
    width: 300px;
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
}

.permission > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.permission > div > span:first-child{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.permission > div > span:nth-child(2){
    border: 2px solid #ddd;
    padding: 10px 6px;
    background-color: #F6FCFE;
}

.permission > div > p:nth-child(3){
    margin: 12px 0px;
}

.permission > div > button{
    background-color: #2C2455;
    width: 80%;
    color:  #fff;
    padding: 14px;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
}

.icons{
    grid-area: icons;
    background-color: #fff;
}